asyncpg==0.28.0
discord.py[speed]==2.3.2
python-dotenv==1.0.0
jishaku==2.5.1
sentry_sdk==1.29.2
emoji==1.6.3
expiringdict=1.2.2
psutil==5.9.5 
py-cpuinfo==9.0.0 
colorama==0.4.6
uvloop==0.17.0
git+https://github.com/Giftify-Bot/amari.py